{% extends 'base.html.twig' %}

{% block title %}Ajout d'une fiche technique{% endblock %}

{% block body %}
    <h1>Ajout d'une fiche technique</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}


{% endblock %}
