{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Ajout d'un produit</h1>
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>


    {% for c in form.id_client %}
        <p>{{ c }}</p>
    {% endfor %}



    {{ form_end(form) }}
{% endblock %}
