{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

    <h1>Information du client : </h1>

    {{ form_start(form) }}

    {{ form_end(form) }}


{% endblock %}
