{% extends 'base.html.twig' %}

{% block title %}Ajout d'un fournisseur | Euro CCVP Manager{% endblock %}

{% block body %}
    <h1>Ajout d'un fournisseur</h1>
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
